<c-row ngPreserveWhitespaces>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header>
        <strong>Wedding Guests</strong>
        </c-card-header>
        <c-card-body>
         <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 + page * pageSize }} </td>
          </ng-container>

          <!-- Full Name -->
          <ng-container matColumnDef="fullName">
            <th mat-header-cell *matHeaderCellDef> Full Name </th>
            <td mat-cell *matCellDef="let element"> {{element.fullName || 'N/A'}} </td>
          </ng-container>

          <!-- Mobile Number -->
          <ng-container matColumnDef="mobileNumber">
            <th mat-header-cell *matHeaderCellDef> Mobile Number </th>
            <td mat-cell *matCellDef="let element"> {{element.mobileNumber || 'N/A'}} </td>
          </ng-container>

          <!-- Email -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email || 'N/A'}} </td>
          </ng-container>

          <!-- Gender -->
          <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef> Gender </th>
            <td mat-cell *matCellDef="let element"> {{element.gender || 'N/A'}} </td>
          </ng-container>

          <!-- Function Name -->
          <ng-container matColumnDef="functionName">
            <th mat-header-cell *matHeaderCellDef> Function </th>
            <td mat-cell *matCellDef="let element"> {{element.functionName || element.function?.functionName || 'N/A'}} </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element" style="display: flex; align-items: center; gap: 8px;">
                <!-- View -->
                <a (click)="viewGuest(element)" title="View Guest Details" style="cursor: pointer; display: inline-flex; align-items: center; text-decoration: none;">
                  <svg cIcon name="cil-info" size="lg" style="color: #0d6efd;"></svg>
                </a>
              </td>
            </ng-container>

          <!-- Header and Row Declarations -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
          <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons
          (page)="onPageChange($event)">
        </mat-paginator>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
