<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Add New Event</strong>
      </c-card-header>
      <c-card-body>
        <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
          <div class="row">

            <!-- Title -->
            <div class="col-6 mb-3">
              <label>Event Title</label>
              <input class="form-control" formControlName="title" type="text" placeholder="Enter event title" />
              <div *ngIf="eventForm.get('title')?.touched && eventForm.get('title')?.invalid" class="text-danger">
                <small *ngIf="eventForm.get('title')?.errors?.['required']">Title is required.</small>
                <small *ngIf="eventForm.get('title')?.errors?.['minlength']">Minimum 3 characters.</small>
                <small *ngIf="eventForm.get('title')?.errors?.['maxlength']">Maximum 100 characters.</small>
              </div>
            </div>

            <!-- Start Date -->
            <div class="col-6 mb-3">
              <label>Start Date</label>
              <input class="form-control" formControlName="startDate" type="date" />
              <div *ngIf="eventForm.get('startDate')?.touched && eventForm.get('startDate')?.invalid"
                class="text-danger">
                <small *ngIf="eventForm.get('startDate')?.errors?.['required']">Start Date is required.</small>
                <small *ngIf="eventForm.get('startDate')?.errors?.['invalidStartDate']">
                  {{ eventForm.get('startDate')?.errors?.['invalidStartDate'] }}
                </small>
              </div>
            </div>

            <!-- End Date -->
            <div class="col-6 mb-3">
              <label>End Date</label>
              <input class="form-control" formControlName="endDate" type="date" />
              <div *ngIf="eventForm.get('endDate')?.touched && eventForm.get('endDate')?.invalid" class="text-danger">
                <small *ngIf="eventForm.get('endDate')?.errors?.['required']">End Date is required.</small>
                <small *ngIf="eventForm.get('endDate')?.errors?.['invalidEndDate']">
                  {{ eventForm.get('endDate')?.errors?.['invalidEndDate'] }}
                </small>
              </div>
            </div>

              <!--  Registration Start Date -->
            <div class="col-6 mb-3">
              <label> Registration Start Date</label>
              <input class="form-control" formControlName="registrationStartDate" type="date" />
              <div
                *ngIf="eventForm.get('registrationStartDate')?.touched && eventForm.get('registrationStartDate')?.invalid"
                class="text-danger">
                <small *ngIf="eventForm.get('registrationStartDate')?.errors?.['required']">Last Registration Date is
                  required.</small>
                <small *ngIf="eventForm.get('registrationStartDate')?.errors?.['invalidRegistrationDate']">
                  {{ eventForm.get('registrationStartDate')?.errors?.['invalidRegistrationDate'] }}
                </small>
              </div>
            </div>

            <!-- Last Registration Date -->
            <div class="col-6 mb-3">
              <label>Last Registration Date</label>
              <input class="form-control" formControlName="registrationEndDate" type="date" />
              <div
                *ngIf="eventForm.get('registrationEndDate')?.touched && eventForm.get('registrationEndDate')?.invalid"
                class="text-danger">
                <small *ngIf="eventForm.get('registrationEndDate')?.errors?.['required']">Last Registration Date is
                  required.</small>
                <small *ngIf="eventForm.get('registrationEndDate')?.errors?.['invalidRegistrationDate']">
                  {{ eventForm.get('registrationEndDate')?.errors?.['invalidRegistrationDate'] }}
                </small>
              </div>
            </div>

            


            <!-- Event Start Time -->
            <div class="col-6 mb-3">
              <label>Event Start Time</label>
              <input class="form-control" formControlName="eventStartTime" type="time" />
              <div *ngIf="eventForm.get('eventStartTime')?.touched && eventForm.get('eventStartTime')?.invalid"
                class="text-danger">
                <small *ngIf="eventForm.get('eventStartTime')?.errors?.['required']">Last Registration Date is
                  required.</small>
                <small *ngIf="eventForm.get('eventStartTime')?.errors?.['invalidRegistrationDate']">
                  {{ eventForm.get('eventStartTime')?.errors?.['invalidRegistrationDate'] }}
                </small>
              </div>
            </div>


            <!-- Event End Time -->
            <div class="col-6 mb-3">
              <label>Event End Time</label>
              <input class="form-control" formControlName="eventEndTime" type="time" />
              <div *ngIf="eventForm.get('eventEndTime')?.touched && eventForm.get('eventEndTime')?.invalid"
                class="text-danger">
                <small *ngIf="eventForm.get('eventEndTime')?.errors?.['required']">Last Registration Date is
                  required.</small>
                <small *ngIf="eventForm.get('eventEndTime')?.errors?.['invalidRegistrationDate']">
                  {{ eventForm.get('eventEndTime')?.errors?.['invalidRegistrationDate'] }}
                </small>
              </div>
            </div>

            <!-- Venue -->
            <div class="col-6 mb-3">
              <label>Venue</label>
              <input class="form-control" formControlName="venue" type="text" placeholder="Enter venue" />
              <div *ngIf="eventForm.get('venue')?.touched && eventForm.get('venue')?.invalid" class="text-danger">
                <small *ngIf="eventForm.get('venue')?.errors?.['required']">Venue is required.</small>
                <small *ngIf="eventForm.get('venue')?.errors?.['minlength']">Minimum 3 characters.</small>
                <small *ngIf="eventForm.get('venue')?.errors?.['maxlength']">Maximum 100 characters.</small>
              </div>
            </div>

            <!-- Address -->
            <div class="col-6 mb-3">
              <label>Address</label>
              <input class="form-control" formControlName="address" type="text" placeholder="Enter address" />
              <div *ngIf="eventForm.get('address')?.touched && eventForm.get('address')?.invalid" class="text-danger">
                <small *ngIf="eventForm.get('address')?.errors?.['required']">Address is required.</small>
                <small *ngIf="eventForm.get('address')?.errors?.['minlength']">Minimum 3 characters.</small>
                <small *ngIf="eventForm.get('address')?.errors?.['maxlength']">Maximum 100 characters.</small>
              </div>
            </div>

            <!-- Category -->
            <div class="col-6 mb-3">
              <label>Category</label>
              <input class="form-control" formControlName="category" type="text" placeholder="Enter category" />
              <div *ngIf="eventForm.get('category')?.touched && eventForm.get('category')?.invalid" class="text-danger">
                <small *ngIf="eventForm.get('category')?.errors?.['required']">Category is required.</small>
                <small *ngIf="eventForm.get('category')?.errors?.['minlength']">Minimum 3 characters.</small>
                <small *ngIf="eventForm.get('category')?.errors?.['maxlength']">Maximum 100 characters.</small>
              </div>
            </div>

                 <!-- Category -->
            <div class="col-6 mb-3">
              <label>Sponsored By</label>
              <input class="form-control" formControlName="sponsoredBy" type="text" placeholder="Enter Sponsored By" />
              <div *ngIf="eventForm.get('sponsoredBy')?.touched && eventForm.get('sponsoredBy')?.invalid" class="text-danger">
                <small *ngIf="eventForm.get('sponsoredBy')?.errors?.['required']">Sponsored By is required.</small>
                <small *ngIf="eventForm.get('sponsoredBy')?.errors?.['minlength']">Minimum 3 characters.</small>
                <small *ngIf="eventForm.get('sponsoredBy')?.errors?.['maxlength']">Maximum 50 characters.</small>
              </div>
            </div>


            
            <!-- FOC -->
            <div class="col-6 mb-3">
              <label>FOC</label>
              <select class="form-control" formControlName="isFoc">
                <option value="No">NO</option>
                <option value="YES">YES</option>
              </select>
            </div>

            <!-- User -->
            <div class="col-6 mb-3">
              <label>User</label>
              <select class="form-control" formControlName="userId">
                <option value="">Select a user</option>
                <option *ngFor="let user of users" [value]="user.id">
                  {{ user.name }}
                </option>
              </select>
            </div>

            <div class="mb-3">
              <label for="memberType">Member Type</label>
              <textarea class="form-control" formControlName="eventMemberType" rows="3"></textarea>
            </div>

            <div class="mb-3">
              <label for="accessType">Access Type</label>
              <textarea class="form-control" formControlName="eventAccessType" rows="3"></textarea>
            </div>

            <div class="mb-3">
              <label for="accessType">Service</label>
              <textarea class="form-control" formControlName="eventServices" rows="3"></textarea>
            </div>


            <div class="col-12 mb-3">
              <label>Description</label>
              <div class="NgxEditor__Wrapper">
                <ngx-editor-menu [editor]="descriptionEditor" [toolbar]="toolbar"> </ngx-editor-menu>
                <ngx-editor [editor]="descriptionEditor" formControlName="description"> </ngx-editor>
              </div>
              <div class="text-danger"
                *ngIf="eventForm.get('description')?.invalid && eventForm.get('description')?.touched">
                <div *ngIf="eventForm.get('description')?.errors?.['required']">Description is required.</div>
                <div *ngIf="eventForm.get('description')?.errors?.['minlength']">Minimum 10 characters required.</div>
                <div *ngIf="eventForm.get('description')?.errors?.['maxlength']">Maximum 500 characters allowed.</div>
              </div>
            </div>

            <div class="col-12 mb-3">
              <label>Privacy Policy</label>
              <!-- <div [ngxSummernote]="summernoteConfig" formControlName="privacyPolicy"></div> -->
              <div class="NgxEditor__Wrapper">
                <ngx-editor-menu [editor]="privacyPolicyEditor" [toolbar]="toolbar"> </ngx-editor-menu>
                <ngx-editor [editor]="privacyPolicyEditor" formControlName="privacyPolicy"> </ngx-editor>
              </div>
              <div class="text-danger"
                *ngIf="eventForm.get('privacyPolicy')?.invalid && eventForm.get('privacyPolicy')?.touched">
                <div *ngIf="eventForm.get('privacyPolicy')?.errors?.['required']">Privacy Policy is required.</div>
                <div *ngIf="eventForm.get('privacyPolicy')?.errors?.['minlength']">Minimum 10 characters required.</div>
                <div *ngIf="eventForm.get('privacyPolicy')?.errors?.['maxlength']">Maximum 500 characters allowed.</div>
              </div>
            </div>

          </div>

          <button type="submit" class="btn btn-primary" [disabled]="eventForm.invalid">Submit</button>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>