<c-row ngPreserveWhitespaces>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header>
                <strong>Filter</strong>
              </c-card-header>
          <c-card-body>
            <!-- Filter Section -->
            <div class="row mb-4">
              <!-- Event Name Filter -->
              <div class="col-md-3 mb-3">
                <label for="event-name" class="form-label">Title</label>
                <input
                  id="title"
                  type="text"
                  class="form-control"
                  placeholder="Search Title"
                />
              </div>
      
              <!-- Status Filter -->
              <div class="col-md-3 mb-3">
                <label for="status" class="form-label">Status</label>
                <select
                  id="status"
                  class="form-select"
                >
                  <option value="">Event Status</option>
                  <option value="UPCOMING">Upcoming</option>
                  <option value="ONGOING">Ongoing</option>
                  <option value="COMPLETED">Completed</option>
                  <option value="CANCELLED">Cancelled</option>
                </select>
              </div>
      
              <!-- Start Date Filter -->
              <div class="col-md-3 mb-3">
                <label for="start-date" class="form-label">Start Date</label>
                <input
                  id="start-date"
                  type="date"
                  class="form-control"
                />
              </div>
      
              <!-- Last Date Filter -->
              <div class="col-md-3 mb-3">
                <label for="last-date" class="form-label">Last Date</label>
                <input
                  id="last-date"
                  type="date"
                  class="form-control"
                />
              </div>
            </div>
            <button class="btn btn-primary ms-auto">Submit</button>
      
          </c-card-body>
        </c-card>
      </c-col>
      
      <c-col xs="12">
        <c-card class="mb-4">
          <c-card-header>
            <strong>Event List</strong>
          </c-card-header>
          <c-card-body>
            <div class="d-flex mb-3">
              <button routerLink="/admin/events/add-new-event" class="btn btn-primary ms-auto">
                Add New Event
              </button>
            </div>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> # </th>
                <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 + page * pageSize }} </td>
              </ng-container>
            
              <!-- Title Column -->
              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Title </th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
              </ng-container>
            
              <!-- Date Column -->
              <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.startDate | date}} </td>
              </ng-container>
            
            <!-- Event Status Column -->
<ng-container matColumnDef="eventStatus">
  <th mat-header-cell *matHeaderCellDef> Event Status </th>
  <td mat-cell *matCellDef="let element" [innerHTML]="element.eventStatus | eventStatus"></td>

</ng-container>

<!-- Status Column -->
<ng-container matColumnDef="status">
  <th mat-header-cell *matHeaderCellDef> Status </th>
  <td  (click)="openConfirmationDialog(element, element.status)" mat-cell *matCellDef="let element" [innerHTML]="element.status | eventStatus"></td>

</ng-container>

            
              <!-- Action Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element" style="margin-top:10px;display: flex; gap: 10px; align-items: center;">
                  <a [routerLink]="['/admin/events/update-event', element.id]" title="Edit">
                    <svg cIcon name="cil-pencil" size="lg"></svg>
                  </a>
                  <a [routerLink]="['/admin/events/event-information', element.id]" title="Info">
                    <svg cIcon name="cil-info" size="lg"></svg>
                  </a>
                  <a [routerLink]="['/admin/events/event-setting', element.id]" title="Settings">
                    <svg cIcon name="cil-settings" size="lg"></svg>
                  </a>
                  <a (click)="openImageUploadModal(element.id)" title="Upload Image" style="cursor: pointer;">
                    <svg cIcon name="cil-image" size="lg"></svg>
                  </a>
                  <a [routerLink]="['/admin/events/event-users', element.id]" title="Users">
                    <svg cIcon name="cil-user" size="lg"></svg>
                  </a>
                </td>
              </ng-container>
              
              
            
              <!-- Header and Row Declarations -->
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            
            <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons (page)="onPageChange($event)">
            </mat-paginator>
            
          </c-card-body>
        </c-card>
      </c-col>
      
  </c-row>

  <app-banner-upload #bannerUpload></app-banner-upload>
<!-- Show Confirmation Dialog -->
<app-confirmation-dialog
  *ngIf="showConfirmation"
  [title]="'Change Status'"
  [message]="'Are you sure you want to change status to ' + newStatus + '?'"
  [confirmButtonText]="'Yes'"
  [cancelButtonText]="'No'"
  (confirmed)="onDialogResult($event)">
</app-confirmation-dialog>