<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Users List</strong>
      </c-card-header>
      <c-card-body>
        <div class="d-flex">
          <button routerLink="/users/add-new-user" class="btn btn-primary ms-auto">Add New User</button>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let user of  users; let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{user.name}}</td>
              <td>{{user.email}}</td>

              <td class="d-flex actionButtons">
                <!-- <c-col class="mb-5" [md]="3" [sm]="4" [xl]="2" [xs]="6">
                  <svg cIcon name="cil-calendar" size="lg"></svg>
                </c-col> -->
                <c-col class="mb-5 mx-2" [md]="3" [sm]="4" [xl]="2" [xs]="6">
                  <a [routerLink]="['/users/update-user', user.id]">
                  <svg cIcon name="cil-pencil" size="lg"></svg>
                  </a>
                </c-col>
              </td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>