<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Users List</strong>
      </c-card-header>
      <c-card-body>
        <div class="d-flex">
          <button routerLink="/users/add-new-user" class="btn btn-primary ms-auto">Add New User</button>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Mark&#64;gmail.com</td>

              <td>
                <c-col class="mb-5" [md]="3" [sm]="4" [xl]="2" [xs]="6">
                  <svg cIcon name="cil-calendar" size="lg"></svg>
                </c-col>
              </td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>