<c-row ngPreserveWhitespaces>

   <c-col xs="12">
        <c-card class="mb-4">
          <c-card-header>
            <strong>User List</strong>
          </c-card-header>
          <c-card-body>
            <div class="d-flex mb-3">
              <button routerLink="/admin/users/add-new-user" class="btn btn-primary ms-auto">
                Add New User
              </button>
            </div>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> # </th>
                <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 + page * pageSize }} </td>
              </ng-container>
            
              <!-- Title Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
            
              <!-- Date Column -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
              </ng-container>
            
               <!-- Status Column -->
              <!-- <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element" [innerHTML]="element.status | userstatus "></td>
              </ng-container> -->


              <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element">
              <select
              class="form-select w-100"
              [value]="element.status"
              #statusSelect
              (change)="onStatusChange(element.id, statusSelect.value)">
              <option value="ACTIVE">Active</option>
              <option value="INACTIVE">Inactive</option>
              <option value="SUSPENDED">Suspended</option>
              </select>
              </td>
              </ng-container>


              <!-- Event Status Column -->
              <ng-container matColumnDef="role">
              <th mat-header-cell *matHeaderCellDef> Role </th>
              <td mat-cell *matCellDef="let element" [innerHTML]="element.role"></td>
              </ng-container>

              <!-- Action Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                  <a [routerLink]="['/admin/users/update-user', element.id]">
                  <svg cIcon name="cil-pencil" size="lg"></svg>
                  </a>
                </td>
              </ng-container>
            
              <!-- Header and Row Declarations -->
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            
            <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons (page)="onPageChange($event)">
            </mat-paginator>
            
          </c-card-body>
        </c-card>
      </c-col>
</c-row>